body{
    background-color: azure;
}

.icones{
    color:  blue;
    font-size: 30px;
    padding: 2px;
}

.icones:hover{
    color:  white;
    background-color: red;
    padding: 5px;
    cursor: pointer;
}

.icons{

    text-align: center;
    color: green;
    font-size: 30px;
    padding: 2px;

}

.icons:hover{
    color: black;
    background-color: yellow;
    padding: 5px;
    cursor: pointer;
}